@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>JavaScript DataTypes</title>
    <style>
        button {
            padding: 10px;
        }


        .redButton {
            background: red;
        }


        .greenButton {
            background: green;
        }
    </style>
</head>
<body>
    <button id="button1" class="greenButton" name="testButton">Click me!</button>
    <button class="buttons greenButton" name="test1">click here!</button>
    <button class="buttons greenButton" name="test2">click here!</button>
    <button class="buttons greenButton" name="test3">click here!</button>
    <button class="buttons greenButton" name="test4">click here!</button>
    <button class="buttons greenButton" name="test5">click here!</button>

    <table id="sampleTable">
        <thead>
            <tr><td>Button Name</td><td>Clicked On</td></tr>
        </thead>
  </table>
    <script src="~/dataTypes.js"></script>
</body>
</html>